* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --bg-color: #6ab1d1;
    --rodape-footer: #002855;
    --logo: #fb8500;
    --label: #FFE8CD;
    --placeholder: #F1EDED;
  }



body {
    background-image: url("/src/img/foto-capa.jpg");

}

#logo {
    color: var(--laranja);
}

#texto-sobre {
    color:#fff;
}

.container-header {
    text-align: center;
    margin-top: 2em;
}
/* 
.campo-pesquisar {
    display: none;
} */

#banner {
    width: 100vw;
    height: 100vh;
    filter: contrast(0.3);
    top:0;
    z-index: -10;
    position: absolute;
}


#texto-sobre {
    text-align: center;
    margin: 1em;
}

#login-cadastro {
    display: flex;
    margin-left: 1em;
}

#login-cadastro li {
    margin-right: 2em;
    font-size: 1.5em;
}


ul li a button:before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--laranja);
    border-bottom: 2px solid var(--laranja);
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
}

ul li a button:hover:before {
    transform: scaleY(1);
    opacity: 1;
    
}


.nav-btn {
    color: #fff;
    border: none;
    background: transparent;
    font-size: 1em;
    padding: 16px;
    outline: none;
    position: relative;
}


.campo-form {
    margin: 20px;
    width: 100%;
}

form {
    /* margin-bottom: 5em; */
    margin-left: 1em;
    margin-top: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    color: var(--label);
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F1EDED;
    height: 2rem;
    width: 70vw;
    outline: none;
    margin-bottom: 2em;
    
}

input::placeholder {
    color: var(--placeholder);
}

#botao-cadastro {
    text-align: center;
}


#botao-finalizar-cadastro{
    background-color: var(--logo);
    width: 55vw;
    height: 2.5em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;

}



/* POP UP */
.popup-wrapper {
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    text-align: center;
    width: 100%;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;

}

.conteudo-popup h2{
    color: var(--logo);
}

.fechar-popup {
    color: black;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
}

#loginPopup {
    padding: 5px;
     
}

#loginPopup a {
    color: black;
}

