* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
  .pagina-login {
    min-height: 100vh;
  }

#logo {
    color: var(--laranja);
}

.texto-sobre {
    text-align: center;
    margin: 1em 0.8em 0.3em;
}

.texto-sobre h3, .texto-sobre h4 {
    color: var(--branco);
    font-weight: bold;
    margin: 5px auto;
}

.foto-principal {
    background-image: url("/img/capa-desenho-mobile.png");
    width: 100%;
    height: 100vh;
    top:0;
    z-index: -10;
    position: fixed;
    background-size: cover;
    background-position: center;
}

.campo-form .invalid input {
    border: 1px red solid;
}

#login-cadastro {
    display: flex;
    justify-content: center;
}

#login-cadastro li {
    margin-right: 2em;
    font-size: 1.5em;
}

ul li button:before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--laranja);
    border-bottom: 2px solid var(--laranja);
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
}

ul li button:hover:before {
    transform: scaleY(1);
    opacity: 1;
    
}

.nav-btn {
    color: var(--branco);
    border: none;
    background: transparent;
    font-size: 1em;
    padding: 16px;
    outline: none;
    position: relative;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}


.campo-form {
    width: 100%;
    margin-bottom: 1em;
}

.pagina-login form {
    animation: up 1s;
    text-align: center;
    margin: 0.3em 2em 2em 2em;
}

.pagina-login label {
    display: block;
    font-size: 1.5em;
    color: var(--laranja-claro);
    text-align: left;
    
}

.input-login {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F1EDED;
    height: 2rem;
    width: 100%;
    outline: none;
    color: #fff;
}

.pagina-login input::placeholder {
    color: var(--cinza-claro);
    font-size: 1.3em;
}

#email-usuario, #senha-usuario {
    margin-bottom: 1em;
}

#esqueci-senha {
    color: var(--laranja-medio);
}

.ocultar-senha, .ocultar-confirma-senha {
    color: var(--cinza-claro);
    margin-left: -2em;
}

.campo-senha {
    display: flex;
    align-items: baseline;
}

#botaoLogin {
    background-color: var(--laranja);
    height: 2.5em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
    padding: 5px;
}

.botoes {
    width: 100%;
 }

.btn {
    width: 100%;
    text-align: center;
}

.btn p {
    margin: 0.3em;
    font-size: 1.2em;
    color: #fff;
}

.btn i {
    color: var(--laranja);
    margin-right: 10px;
}

#botaoGoogle, #botaoGitHub {
    background-color: #fff;
    height: 2.5em;
    color: rgb(3, 3, 3);
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
    padding: 5px;
}

#botaoGoogle {
    margin-bottom: 1em;
}

.erros{
    color: red;

}

/* -----------------------CADASTRO -----------------------------------------*/
#botao-cadastro {
    text-align: center;
}

#botao-finalizar-cadastro{
    background-color: var(--laranja);
    /* width: 80%; */
    height: 2.5em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;

}

/* ----------------------------POPUP CADASTRO ------------------------------------ */
.popup-wrapper {
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    text-align: center;
    width: 100%;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;

}

.conteudo-popup h2{
    color: var(--laranja);
}

.fechar-popup {
    color: black;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
}

.loginPopup {
    padding: 5px;
    background-color: var(--laranja);
    color: white;
    border: none;
    box-shadow: 2px 1px 5px black;
    margin-top: 0.5em;
     
}

.loginPopup a {
    color: black;
}


/* ----------------------- TELA RECUPERAR ---------------------------*/


.texto-reset {
    text-align: center;
}

.texto-reset h3 {
    color: var(--laranja);
}

.text-h4{
    color: var(--cinza-claro);
    margin: 10px;
}


#botao-recuperar {
    text-align: center;
    
} 

#recuperar-email {
    margin-top: 1.5em;
}

#reset-id {
    background-color: var(--logo);
    /* width: 50vw; */
    height: 2.5em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
   
} 


/* -----------------------ADAPTAÇÃO PARA TELAS ---------------------- */

@media screen and (min-width: 768px) {

    .conteudo-login {
        flex: 1;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #002855 35%, #2063ae 100%);
      }
       
    .principal {
        display: flex;
        flex-flow: row-reverse;
    }


    .container {
        align-items: center;
    }


    .foto-principal {
        width: 100%;
        height: auto;
        filter: contrast(0.8);
        background-image: url("/img/capa-desenho.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
        position: relative;
        flex: 1;
    }     

    #texto-sobre {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    }

    .pagina-login input {
        width: 100%;
        margin: 1.5em 0;
    }
   
    .btn {
        text-align: center;
        margin: 2em 0;
    }

    .btn p {
        margin: 2em;
    }

    .pagina-login form {
        text-align: center;
        margin: 2em auto;
        width: 70%;
    }
    
    #esqueci-senha {
        font-size: 1.25em;
    }
        

    .botoes {
       width: 85%;
    }
}




