* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --azul-claro: #6ab1d1;
    --azul-escuro: #002855;
    --laranja: #fb8500;
    --laranja-claro: #FFE8CD;
    --cinza-claro: #F1EDED;
    --branco: #fff;
  }


#logo {
    color: var(--laranja);
}

#texto-sobre {
    text-align: center;
    margin: 1em;
}

#texto-sobre h3, #texto-sobre h4 {
    color: var(--branco);
    font-weight: bold;
    margin: 5px auto;
}

#banner {
    width: 100vw;
    height: 100vh;
    filter: contrast(0.3);
    top:0;
    z-index: -10;
    position: absolute;
}

#banner-grande {
    display: none;

}


#login-cadastro {
    display: flex;
    margin-left: 1em;
}

#login-cadastro li {
    margin-right: 2em;
    font-size: 1.5em;
}

ul li a button:before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--laranja);
    border-bottom: 2px solid var(--laranja);
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
}

ul li a button:hover:before {
    transform: scaleY(1);
    opacity: 1;
    
}

.nav-btn {
    color: var(--branco);
    border: none;
    background: transparent;
    font-size: 1em;
    padding: 16px;
    outline: none;
    position: relative;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}


.campo-form {
    margin: 20px;
    width: 100%;
}

form {
    margin-left: 1em;
    margin-top: 2em;
    animation: up 1s;
}

label {
    display: block;
    font-size: 1.2em;
    color: var(--laranja-claro);
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F1EDED;
    height: 2rem;
    width: 70vw;
    outline: none;
    margin-bottom: 2em;
}

input::placeholder {
    color: var(--cinza-claro);
    font-size: 1.2em;
}

#email-usuario, #senha-usuario {
    margin-bottom: 2em;
}

#esqueci-senha {
    color: #fdc27e;
}

#botaoLogin {
    background-color: var(--laranja);
    width: 240px;
    height: 2.5em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
    padding: 5px;

}

.btn {
    width: 100%;
    text-align: center;
    margin: 1em;
}

.btn p {
    
    margin: 2em;
    font-size: 1.2em;
    color: #fff;
}

.btn i {
    color: var(--laranja);
    margin-right: 10px;
    
}

#botaoGoogle, #botaoGitHub {
    background-color: #fff;
    max-width: 80vw;
    height: 2.5em;
    color: rgb(3, 3, 3);
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
    padding: 5px;
}

#botaoGoogle {
    margin-bottom: 1.5em;
}

/* -----------------------CADASTRO -----------------------------------------*/
#botao-cadastro {
    text-align: center;
}

#botao-finalizar-cadastro{
    background-color: var(--laranja);
    width: 55vw;
    height: 2.5em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;

}

/* ----------------------------POPUP CADASTRO ------------------------------------ */
.popup-wrapper {
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    text-align: center;
    width: 100%;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;

}

.conteudo-popup h2{
    color: var(--laranja);
}

.fechar-popup {
    color: black;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
}

#loginPopup {
    padding: 5px;
     
}

#loginPopup a {
    color: black;
}

/* -----------------------ADAPTAÇÃO PARA TELAS ---------------------- */

@media screen and (min-width: 1000px) {

   
  
}

@media screen and (min-width: 768px) {
    
    .container {
        display: flex;
        align-items: center;
    }
    
    #banner {
        display: none;
    } 

    /* #banner-grande {
        display: inline-block;
        margin-left: 50%;
        height: 100vh;
        max-width: 50vw;
        filter: contrast(0.8);
        

    } */

    #texto-sobre {
    display: flex;
    flex-direction: column;
    width: 50vw;
    }

    input {
        max-width: 35vw;
    }

    .btn {
        text-align: left;

    }
        
}




