* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}


:root {
    --azul-claro: #6ab1d1;
    --azul-escuro: #002855;
    --laranja: #fb8500;
    --laranja-claro: #FFE8CD;
    --cinza-claro: #F1EDED;
  }

body {
    background-image: url("/src/img/foto-capa.jpg");
    /* height: 100vh; */
   
}

#logo {
    color: var(--laranja);
}

#texto-sobre h3, #texto-sobre h4 {
    color: #fff;
    font-weight: bold;
    margin: 5px auto;
}

.campo-pesquisar {
    display: none;
}

#banner {
    width: 100vw;
    height: 100vh;
    filter: contrast(0.3);
    top:0;
    z-index: -10;
    position: absolute;
}

#texto-sobre {
    text-align: center;
    margin: 1em;
}

ul li a button:before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--laranja);
    border-bottom: 2px solid var(--laranja);
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
}

ul li a button:hover:before {
    transform: scaleY(1);
    opacity: 1;
    
}

.nav-btn {
    color: #fff;
    border: none;
    background: transparent;
    font-size: 1em;
    padding: 16px;
    outline: none;
    position: relative;
}

form {
    animation: up 1s;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}


.campo-form {
    margin: 20px;
    width: 100%;
}

form {
    margin-left: 1em;
    margin-top: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    color: var(--label);
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F1EDED;
    height: 2rem;
    width: 70vw;
    outline: none;
}

input::placeholder {
    color: var(--placeholder);
    font-size: 1.2em;
}


#email-usuario, #senha-usuario {
    margin-bottom: 2em;
}

.btn {
    width: 100%;
    text-align: center;
}

#botaoLogin {
    background-color: var(--logo);
    width: 240px;
    height: 2.5em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
    padding: 5px;

}

.btn-contas {
    margin: 1em;
    text-align: center;
}

.btn-contas p {
    text-align: center;
    margin: 2em;
    font-size: 1.2em;
    color: #fff;
}



.btn-contas i {
    color: var(--logo);
    margin-right: 10px;
    
}


#botaoGoogle, #botaoGitHub {
    background-color: #fff;
    max-width: 80vw;
    height: 2.5em;
    color: rgb(3, 3, 3);
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
    padding: 5px;
}

#botaoGoogle {
    margin-bottom: 1.5em;
}

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 1000px) {
    /* h2 {
        font-size: 500px;
    } TESTEEE */
           
    #banner {
        width: 50vw;
        height: 100vh;
    }
}




