* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}


:root {
    --bg-color: #6ab1d1;
    --rodape-footer: #002855;
    --logo: #fb8500;
    --label: #FFE8CD;
    --placeholder: #F1EDED;
  }

body {
    background-image: url("/src/img/foto-capa.jpg");

}

.container-header {
    text-align: center;
    margin-top: 2em;
}

#banner {
    width: 100vw;
    height: 100vh;
    filter: contrast(0.3);
    top:0;
    z-index: -10;
    position: absolute;
}


#texto-sobre {
    text-align: center;
    margin: 1em;
}

/* #login-cadastro {
    display: flex;
    margin-left: 1em;
}

#login-cadastro li {
    margin-right: 2em;
    font-size: 1.5em;
} */

.nav-btn {
    color: #fff;
    border: none;
    background: transparent;
    font-size: 1em;
    padding: 16px;
    outline: none;
    position: relative;
}

.nav-btn::after {
    position: absolute;
    bottom: 0;
    left:0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--logo);
    transition: .4s;

}

/* button:hover::after,
button.active::after {
    width: 100%;
} */


form {
    animation: up 1s;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
    }
}


.campo-form {
    margin: 20px;
    width: 100%;
}

form {
    margin-left: 1em;
    margin-top: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    color: var(--label);
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F1EDED;
    height: 2rem;
    width: 70vw;
    outline: none;
}

input::placeholder {
    color: var(--placeholder);
}


#email-usuario, #senha-usuario {
    margin-bottom: 2em;
}

.btn-login {
    text-align: center;
}

#botaoLogin {
    background-color: var(--logo);
    width: 55vw;
    height: 2.5em;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;

}

.btn-contas {
    margin: 1em;
    text-align: center;
}

.btn-contas p {
    text-align: center;
    margin: 2em;
    font-size: 1.2em;
}



.btn-contas i {
    color: var(--logo);
    margin-right: 10px;
    
}


#botaoGoogle, #botaoGitHub {
    background-color: #fff;
    width: 80vw;
    height: 2.5em;
    color: rgb(3, 3, 3);
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
}

#botaoGoogle {
    margin-bottom: 1.5em;
}









