* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
}

:root {
    --azul-claro: #6ab1d1;
    --azul-escuro: #002855;
    --laranja: #fb8500;
    --branco: #fff;
  }


.container-header {
    background-color: var(--azul-escuro);
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;

}

.logo {
    font-size: 1.5em;
}


.perfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.editar-perfil {
    width: 30vw;
    height: 4vh;
    background-color: var(--branco);
    border-radius: 5px;
}

.editar-nome {
    display: flex;
    align-items: center;
}

.btn-editar-nome {
    color: var(--azul-escuro);
}

.btn-foto-class {
    
    background:no-repeat;
    background-color: transparent;
    background-size: 100%;
    outline: none;
    border: solid 0pt;
    cursor: pointer;
    background-image: url(img/camera.png);
}

#button-foto {
    height: 4.5vh;
    width: 4.5vh;
}

#foto-id {
    opacity: 0;
}

#photoFeed {
    opacity: 0;
}

#image {
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.fas.fa-save {
    display: none;
    color: var(--azul-escuro);
    margin-right: 1em;
}

.foto p {
    text-align: center;
}

#post {
    margin-top: 1em;
    width: 100vw;
    background-color: var(--azul-escuro);
    color: var(--branco)
}

#post::placeholder {
    color:rgb(255, 255, 255);
}

.campo-addFoto {
    margin: 15px;
}

.link-do-github {
    text-align: center;
}

#link-github {
    background-color: var(--branco);
    width: 80vw;
    height: 4vh;
    border-radius: 5px;
    margin: 10px;
}

#link-github::placeholder {
    font-size: 1em;
    color:black;
    padding: 5px;
}

#publicar {
    background-color: var(--laranja);
    width: 55vw;
    height: 2.5em;
    color: var(--branco);
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
}

.btn-publicar {
    text-align: center;
}

#tete {
    width: 200px;
    height: 20px;
}

.fez-publicacao {
    color: black;
    font-weight: normal;
}

.minhas-publicacoes {
    margin: 2em;
    font-weight: bold;
    text-align: center;
}

.texto-publicado-usuario {
    margin: 0.5em;
}

.pagina-perfil {
    background-color: var(--azul-claro);
}

.div-post {
    background-color: var(--branco);
}


a {
    color: var(--laranja);
    text-decoration: none;
}

a:hover {
    background: rgba(0, 0, 0, .05);
    color: var(--azul-claro);
}

.container-header {
    box-sizing: border-box;
    height: 70px;
    display: flex;
    align-items: center;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

.div-post {
    transition: opacity 1s;
  }


.fas.fa-heart{
    color: var(--laranja);

}

.delete-class {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1.5em;

}

.icone-curtir {
    transition: all 1s;
}


@media (max-width: 600px){

    /*.class-li {
        margin-top: 50px;
        text-align: center;

    }*/

    #menu {
        display: flex;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--azul-escuro);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
        font-size: 1.5rem;

    }

    #nav-id.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .2);
    }


    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: var(--laranja);
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav-id.active #hamburguer{
        border-top-color: transparent;
    }

    #nav-id.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav-id.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .fas.fa-sign-out-alt{
        display: inline-flex;
    }
}