* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
}

.container-header {
    background-color: var(--azul-escuro);
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 70px;
    align-items: center;
    }

.logo {
    font-size: 1.5em;
}


.perfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.editar-perfil {
    width: 30vw;
    height: 4vh;
    background-color: var(--branco);
    border-radius: 5px;
}

.pagina {
    background-color: #d3d3d3;
    padding-bottom: 1em;
}

.nome-usuario {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.editar-nome {
    display: flex;
    align-items: center;
    padding: 1em;
}

.btn-editar-nome {
    color: var(--azul-escuro);
}

.btn-foto-class {
    background:no-repeat;
    background-color: transparent;
    background-size: 100%;
    outline: none;
    border: solid 0pt;
    cursor: pointer;
    background-image: url(img/camera.png);
}

#button-foto {
    height: 4.5vh;
    width: 4.5vh;
    margin: auto;
}

#foto-id {
    opacity: 0;
    margin-top: 1em;
}

#btn-salvar {
    width: 20%;
    margin: auto;
    margin-top: 1em;
    display: none;
}

#photoFeed {
    opacity: 0;
}

#imagem-feed {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    display: none;
}

.foto-feed {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

#image {
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.fas.fa-save {
    display: none;
    color: var(--azul-escuro);
    margin-right: 1em;
}


.foto {
    background: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
    max-width: 60vw;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 25%);
}

.foto p {
    text-align: center;
}

.foto-perfil {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    margin: 1em auto;
}

#post {
    margin-top: 1em;
    width: 100%;
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 0.5em 1em;
}

#post::placeholder {
    color:rgb(255, 255, 255);
}

.foto-perfil-autor {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 0.5em;
}

.campo-addFoto {
    margin: 15px;
}

.div-link-do-github {
    text-align: center;
}

.link-do-github {
    text-align: center;
}

.link-github {
    border: none;
    width: 100%;
}

.link-github[contentEditable="true"], .texto-publicado-usuario[contentEditable="true"] {
    border: 1px solid black;
}

#link-github {
    background-color: var(--branco);
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    margin-top: 1em;
}

#link-github::placeholder {
    font-size: 1em;
    color:black;
    padding: 5px;
}

#publicar {
    background-color: var(--laranja);
    width: 270px;
    height: 2.5em;
    color: var(--branco);
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.6em;
    cursor: pointer;
}

.btn-publicar {
    text-align: center;
}

.fez-publicacao {
    color: black;
    font-weight: normal;
    margin-left: 10px;
}

.publicou {
    font-weight: 0;
}

.minhas-publicacoes {
    margin: 2em;
    font-weight: bold;
    text-align: center;
}

.texto-publicado-usuario {
    margin: 0.5em;
    text-align: center;
}

.div-link-github-publicado {
    text-align: center;
    }

.div-post {
    background-color: var(--branco);
    box-shadow: 5px 5px 12px rgb(0 0 0 / 50%);
    transition: opacity 1s;
    border: 3px solid var(--laranja);
    margin-bottom: 2em;
    border-radius: 5px;
    padding: 0.5em;
}

.salvar-edicao {
    display: none;
}

a {
    color: var(--laranja);
    text-decoration: none;
}

a:hover {
    background: rgba(0, 0, 0, .05);
    color: var(--azul-claro);
}



#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

.fas.fa-heart{
    color: var(--laranja);
}

.delete-class {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1.5em;
}

.comentarios {
    display: none;
}

.escrever-comentario {
    color: var(--preto);
    border-radius: 6px;
    border: solid 2px var(--laranja);
    padding: 0.5em;
}

.escrever-comentario:focus {
    border: solid 2px var(--laranja);
}

.conteudo-editar-texto, .conteudo-editar-github {
    display: none;
}

.icones {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.likes {
    margin: 0.5em;
}

.icone-curtir {
    transition: all 1s;
}

#salvar-img-post{
    display: none;
}

/* --------------------------ADAPTAÇÃO TELAS MAIORES-------------*/

@media (max-width: 600px){
    
    #menu {
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--azul-escuro);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
        font-size: 1.5rem;

    }

    #nav-id.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: row;
    }
  
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: var(--laranja);
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav-id.active #hamburguer{
        border-top-color: transparent;
    }

    #nav-id.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav-id.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    
}


@media (min-width: 801px) {
    #post, .div-link-do-github {
        width: 100%;
    }

    .div-post {
        max-width: 100%;
    }

}

