* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-feed {
    color: var(--azul-escuro);
}

#div-gif {
    text-align: center;
}

.gif {
    width: 50vw;
}

.perfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foto p{
    margin: 1em;
    
}

#foto-perfil {
    margin: 1em;
}
#imagem-id {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.nome-usuario {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

#editar-post {
    border: none;
    padding: 10px;
    margin-right: 2em;

}

#publicacao {
    width: 100vw;
    font-size: 1.2em;
    height: 20vh;
    border: none;
    padding: 1em;
}

.texto-publicado-usuario {
    text-align: center;
}

.div-link-github-publicado {
text-align: center;
}

.link-github {
    border: none;
    width: 100%;
}

.icones {
    margin: 1em;
}
.likes {
    margin: 0.5em;
}

.comentarios {
    display: none;
}

#input-comentario {
    
    border-bottom: 1px solid var(--preto);
    outline: none;
    margin: auto 10px;
    
}

.comentario-publicado {
    display: none;
}

.escrever-comentario {
    color: var(--preto);
    border-radius: 6px;
    border: solid 2px var(--laranja);
    padding: 0.5em;
}

.escrever-comentario:focus {
    border: solid 2px var(--laranja);
}

.icone-curtido {
    display: none;
}

.conteudo-editar-texto, .conteudo-editar-github {
    display: none;
}

.div-post {
    border: 3px solid var(--laranja);
    margin: 2em;
    border-radius: 5px;
    padding: 0.5em;
}

.salvar-edicao {
    display: none;
}

.icone-deletar {
    margin: 1em;
}


a {
    color: var(--laranja);
    text-decoration: none;
}

a:hover {
    background: rgba(0, 0, 0, .05);
    color: var(--azul-claro);
}

.container-header {
    box-sizing: border-box;
    height: 70px;
    display: flex;
    align-items: center;
}

.far.fa-list-alt, .fas.fa-user-alt, .fas.fa-sign-out-alt {
    display: none;
}

#menu {
    display: flex;
    gap: .5rem;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    
   

}

#menu a {
    /* display: block; */
    display: flex;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

.nome-feed {
    font-weight: bold;
}

.publicar-comentario {
    background-color: var(--laranja);
    border-radius: 6px;
    border: solid 1px var(--cinza-claro);
    padding: 0.5em;
    color: var(--cinza-claro);
    font-weight: bold;
}

.publicar-comentario:hover {
    
    border: solid 2px var(--preto);

}

.foto-publicada {
    width: 70%;
    height: 40vh;
    border-radius: 15px;
}

.img-publicada {
    text-align: center;
    width: 100%;
}

.mostrar-comentarios {
    display: none;
    margin-top: 2em;
}

.template-comentario {
    background-color: rgb(235, 186, 95);
    border-radius: 5px;
    margin: 0.5em 0;
    padding: 0.5em 1em;
}

.foto-comentario {
    width: 10%;
    margin-right: 0.75em;
}

.nome-comentario {
    font-weight: bold;
    color: var(--preto);
}

.header-comentario {
    display: flex;
    justify-content: space-between;

}

.hora-comentario {
    font-size: small;
    color: var(--preto);
}

.texto-comentario-template {
    margin: 0.75em;
    color: var(--preto);
}

.fas.fa-heart {
    color: var(--laranja)
}

@media (max-width: 600px){

    /*#menu .ocultar {
        display: block;
    }*/
    .far.fa-list-alt, .fas.fa-user-alt, .fas.fa-sign-out-alt {
        display: block;
        margin-right: 2em;
    }


    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--azul-escuro);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
        font-size: 1rem;        
    }

    #nav-id.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .2);
    }


    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: var(--laranja);
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

 /*   .li-class {
        margin-top: 40px;
        display: flex;

    }*/

    #nav-id.active #hamburguer{
        border-top-color: transparent;
    }

    #nav-id.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav-id.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    /*.div-menu {
        margin-top: 40px;
        display: flex;
        display: flex; flex-direction: column; 
    }*/

    }

   @media (min-width: 601px) and (max-width: 800px){
    /* #feed {
        max-width: 60%;
        margin: auto;
    } */

   }


  
   @media (min-width: 801px) {
    #div-gif {
        max-width: 60%;
        margin: auto;
    }

    .gif {
        width: 30%;
    }

    #feed {
        max-width: 60%;
        margin: auto;
    }

   }