* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-feed {
    color: var(--azul-escuro);
}


#div-gif {
    text-align: center;
}

.gif {
    width: 50vw;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 25%);
    border-radius: 1em;
    margin-bottom: 2em;
}

.titulo-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.foto p{
    margin: 1em;
    
}

.foto-perfil-comentario {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0.5em;
}

.far.fa-list-alt, .fas.fa-user-alt, .fas.fa-sign-out-alt {
    display: none;
}

#menu {
    display: flex;
    gap: .5rem;
    align-items: center;
    height: 70px;
    justify-content: space-between;   
}

#menu a {
    display: flex;
    padding: .5rem;
    font-size: 1.2em;
}

#btn-mobile {
    display: none;
}

.nome-feed {
    font-weight: bold;
}

.publicar-comentario {
    background-color: var(--laranja);
    border-radius: 6px;
    border: solid 1px var(--cinza-claro);
    padding: 0.5em;
    color: var(--cinza-claro);
    font-weight: bold;
}

.publicar-comentario:hover {
    border: solid 2px var(--preto);
}

.foto-publicada {
    width: 70%;
    height: 40vh;
    border-radius: 15px;
}

.img-publicada {
    text-align: center;
    width: 100%;
}

.mostrar-comentarios {
    display: none;
    margin-top: 2em;
}

.template-comentario {
    background-color: var(--laranja-medio);
    border-radius: 5px;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    transition: opacity 1s;
}

.foto-comentario {
    width: 10%;
    margin-right: 0.75em;
}

.nome-comentario {
    font-weight: bold;
    color: var(--preto);
}

.nome-usuario {
    margin-top: 0.5em;
}

.header-comentario {
    display: flex;
    align-items: center;

}

.hora-comentario {
    font-size: small;
    color: var(--preto);
}

.texto-comentario-template {
    margin: 0.75em;
    color: var(--preto);
    
}

.texto-comentario-template[contentEditable="true"] {
    border: 1px solid var(--preto);
}

.icones-template-comentario {
    display: flex;
    justify-content: space-around;
}

.far.fa-save {
    display: none;
    padding-right: 0.5em;
}

.fas.fa-heart {
    color: var(--laranja)
}

@media (max-width: 600px){
 
    .far.fa-list-alt, .fas.fa-user-alt, .fas.fa-sign-out-alt {
        display: block;
        margin-right: 2em;
    }


    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--azul-escuro);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
    }

    #nav-id.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .2);
        font-size: 1.2em;       
    }


    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: var(--laranja);
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav-id.active #hamburguer{
        border-top-color: transparent;
    }

    #nav-id.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav-id.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }

}
  
@media (min-width: 801px) {

    #div-gif {
    max-width: 60%;
    margin: auto;
    }

    .gif {
        width: 30%;
    }

    #postForm {
        width: 70%;
    } 

    #feed {
        margin: auto;
        width: 70%;
    }

    .img-publicada {
        width: 70%;
        text-align: center;
        display: flex;
        margin-left: auto;
        
    }

}