@import url('./pages/feed/feed.css');
@import url('./pages/login/login-cadastro-recuperar.css');
@import url('./pages/perfil/perfil-style.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --azul-claro: #6ab1d1;
    --azul-escuro: #002855;
    --laranja: #fb8500;
    --laranja-medio: rgb(235, 186, 95);
    --laranja-claro: #FFE8CD;
    --cinza-claro: #F1EDED;
    --branco: #fff;
    --preto: #000;
  }

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.logo-login {
    width: 15em;
}

.logo {
    width: 8em;
}
