@import url('./pages/feed/feed.css');
@import url('./pages/login/login-cadastro-recuperar.css');
@import url('./pages/perfil/perfil-style.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


